<!-- <input 
    class="form-control"
    (input)="onServerNameChange($event)"> -->
<input 
    class="form-control"
    [(ngModel)]="serverName">
<button
    class="btn btn-primary" 
    [disabled]="!canAddServer"
    (click)="addServer()">Add Server</button>
<hr>
<p *ngIf="isServerAdded">Server name to add is {{ serverName }}</p>
<p *ngIf="!isServerAdded">Server is not added.</p>
<p *ngIf="servers.length > 0">Below is the list of servers !</p>
<app-server *ngFor="let server of servers"></app-server>

