<div class="row">
    <div class="col-xs-12">
      <p>Add new Servers or blueprints!</p>
      <label>Server Name</label>
      <!-- <input type="text" class="form-control" [(ngModel)]="newServerName"> -->
      <input type="text" 
        class="form-control"
        #serverInput>
      <label>Server Content</label>
      <!-- <input type="text" class="form-control" [(ngModel)]="newServerContent"> -->
      <input type="text" 
        class="form-control"
        #contentInput>
      <hr>
      <button
        class="btn btn-primary"
        (click)="onCreateServer(serverInput)">Add Server</button>
      <button
        class="btn btn-primary"
        (click)="onCreateBlueprint(serverInput)">Add Server Blueprint</button>
      <button
        class="btn btn-default"
        (click)="reset()">Reset</button>
        <ng-content></ng-content>
    </div>
  </div>